.container {
    display: grid;
    justify-content: center;
    width: 250px;
    background-color: white;
    grid-template-areas:
        'i'
        't'
        'd'
        'l';


}

.image {
    grid-area: i;
    width: 225px;
    height: 225px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    grid-area: t;
}

.discription {
    grid-area: d;
}

.btn--container {
    grid-area: l;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 10px 5px;
}

.btn {
    border: 2px solid rgb(92, 92, 92);
    background-color: rgb(168, 168, 168);
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}