.container {
    display: grid;
    grid-template-areas:
        'h h'
        'f m';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin: 10px 50px;
}

.header {
    grid-area: h;
}

.main {
    grid-area: m;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    column-gap: 10px;
    row-gap: 10px;
}

.filter {
    grid-area: f;
    height:0px
}