.container {
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin: 20px 40px;
    padding: 10px 40px;
}

.content {
    margin: 0px 0px;
}

.btn--container {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 5px;
}