.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.plain-text {
  font-family: FreeMono, monospace;
  ;
  font-size: 16px;
}

.headline-1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
}

.headline-2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  font-size: 20px;
}

.subhead {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 18px;
}

.small-text {
  font-size: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
  text-decoration: none;
}
a:link{
  color: auto;
}
a:visited{
  color: auto;
}