.container{
    position: relative;
    display: grid;
    grid-template-columns: 100% 1fr;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    column-gap: 10px
}

.hide{
    display: none;
}

.display-container{
    position: relative;
}