.container input[type='number'] {
    -moz-appearance: textfield;
    align-items: center;
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
}

.container>input {
    text-align: center;
    width: 60px;
}

.container>button {
    padding: 10px 10px;
}